extends skeleton.pug

block append html_js
  script(src="/public/js/modernizr.js")

block append css
  link(href='/public/css/books.css', rel='stylesheet', type="text/css")

block content
  - let statusColor = {pending: 'info', accepted: 'primary', denied: 'danger', canceled: 'warning', finished: 'success'}
  header.row
    .container
      h2 My Trades

  .container
    h3 Books I requested
    hr
    if (requester.length <= 0)
      .jumbotron.jumbotron-fluid
        h3.display-3.text-muted.text-center No trades yet.
    else
      .row
        each trade in requester
          - let tradeState = trade.state.state;
          - let tradeBook = trade.userBook.book;
          .panel.col-md-4.col-sm-6(class='panel-' + statusColor[tradeState])
            .panel-heading.row #{trade.userBook.user.local.displayName} - #{tradeState}
            .panel-body.row
              .media
                .media-left
                  a(href=trade.userBook.book.imageUrl)
                    img.media-object(src=trade.userBook.book.imageUrl, alt=trade.userBook.book.title)
                .media-body
                  h4.media-heading #{trade.userBook.book.title}
                  p Owner: #{trade.userBook.user.local.displayName}
                  p
                    | Status:
                    span.label(class="label-" + statusColor[tradeState]) #{tradeState}
                  .bookAction
                    input.userBookId(type='hidden', value=trade.userBook.id)
                    input.tradeId(type='hidden', value=trade.id)
                    if (trade.state.state == 'pending')
                      button.btn.btn-sm.btn-block.btn-warning(value="cancel") Cancel Request
                    else if (trade.state.state == 'accepted')
                      button.btn.btn-sm.btn-danger(value="finish") Finish Trade

    h3 Books requested to me
    hr
    if (requested.length <= 0)
      .jumbotron.jumbotron-fluid
        h3.display-3.text-muted.text-center No trades yet.
    else
      .row
        each trade in requested
          - let tradeState = trade.state.state;
          - let tradeBook = trade.userBook.book;
          .panel.col-md-4.col-sm-6(class='panel-' + statusColor[tradeState])
            .panel-heading.row #{trade.requestedBy.local.displayName} - #{tradeState}
            .panel-body.row
              .media
                .media-left
                  a(href=trade.userBook.book.imageUrl)
                    img.media-object(src=trade.userBook.book.imageUrl, alt=trade.userBook.book.title)
                .media-body
                  h4.media-heading #{trade.userBook.book.title}
                  p Requested By: #{trade.requestedBy.local.displayName}
                  p
                    | Status:
                    span.label(class="label-" + statusColor[tradeState]) #{tradeState}
                  if (tradeState == 'pending')
                    .btn-group.bookAction
                      input.userBookId(type='hidden', value=trade.userBook.id)
                      input.tradeId(type='hidden', value=trade.id)
                      button.btn.btn-sm.btn-primary(value="accept") Accept
                      button.btn.btn-sm.btn-danger(value="deny") Deny

block append js
  script(type="text/javascript", src="/controllers/book.client.js")
